@tailwind base;
@tailwind components;
@tailwind utilities;

/* ส่วน Custom Scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}